<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NetAcademia OopRestaurant201810</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Bootstrap navbar-t használ az ASP.NET MVC alkalmazás template a felső mwnü kialakítására *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OopRestaurant201810", "Index", "MenuItems", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse"> @* eltűnik, ha jön a hamburger menü *@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Étlap", "Index", "MenuItems")</li>
                    @if(Request.IsAuthenticated)
                    {
                        @* csak akkor látszik, ha a felhasználó be van jelentkezve *@
                        <li>@Html.ActionLink("Kategóriák", "Index", "Categories")</li>
                    }
                    <li>@Html.ActionLink("Termek", "Index", "Locations")</li>
                </ul>
                @Html.Partial("_LoginPartial") @*  Bejelentkezéssel kapcsolatos linkek *@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NetAcademia OopRestaurant201810</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
